@model ErrorViewModel
@{
    ViewData["Title"] = "Erro";
}

<h1 class="text-danger">Erro.</h1>
<h2 class="text-danger">Ocorreu um erro ao processar a sua solicitação.</h2>

<p>
    <strong>Request ID:</strong> <code>@Model.RequestId</code>
    <strong>Mensagem:</strong> <h2>@Model.Message.</h2>
</p>
